---
# Ref: https://specifications.freedesktop.org/basedir-spec/latest.
- name: Export XDG variables
  ansible.builtin.set_fact:
    ansible_env: |
      {{
        ansible_env | combine({
          'XDG_DATA_HOME': ansible_env.HOME + '/.local/share',
          'XDG_CONFIG_HOME': ansible_env.HOME + '/.config',
          'XDG_STATE_HOME': ansible_env.HOME + '/.local/state',
          'XDG_CACHE_HOME': ansible_env.HOME + '/.cache',
          'PATH': ansible_env.PATH + ':' + ansible_env.HOME + '/.local/bin'
        })
      }}

- name: Configure
  ansible.builtin.blockinfile:
    path: "{{ ansible_env.HOME }}/.zshrc"
    marker: "# {mark} ANSIBLE MANAGED BLOCK FOR XDG"
    prepend_newline: true
    append_newline: true
    block: |
      export XDG_DATA_HOME="{{ ansible_env.XDG_DATA_HOME }}"
      export XDG_CONFIG_HOME="{{ ansible_env.XDG_CONFIG_HOME }}"
      export XDG_STATE_HOME="{{ ansible_env.XDG_STATE_HOME }}"
      export XDG_CACHE_HOME="{{ ansible_env.XDG_CACHE_HOME }}"
      export PATH="$HOME/.local/bin:$PATH"
