---
- name: Install
  community.general.homebrew:
    name:
      - go

- name: Configure zsh
  ansible.builtin.blockinfile:
    path: "{{ ansible_env.HOME }}/.zshrc"
    marker: "# {mark} ANSIBLE MANAGED BLOCK FOR GO"
    prepend_newline: true
    append_newline: true
    block: |
      export GOPATH="$HOME/go"
      export GOBIN="$GOPATH/bin"
      export PATH="$GOBIN:$PATH"
      export GOMODCACHE="$GOPATH/pkg/mod"
