---
- name: Tap
  community.general.homebrew_tap:
    name:
      - dagger/tap

- name: Install
  community.general.homebrew:
    name:
      - dagger

- name: Configure zsh
  ansible.builtin.blockinfile:
    path: "{{ ansible_env.HOME }}/.zshrc"
    marker: "# {mark} ANSIBLE MANAGED BLOCK FOR DAGGER"
    prepend_newline: true
    append_newline: true
    block: |
      alias dag="dagger"

# TODO(frantjc) on desktop: export _EXPERIMENTAL_DAGGER_RUNNER_HOST="image+podman://registry.dagger.io/engine?port=1234"
# on laptop: export _EXPERIMENTAL_DAGGER_RUNNER_HOST="tcp://<desktop>:1234"
