---
- name: Install ollama
  ansible.builtin.shell:
    cmd: curl -fsSL https://ollama.com/install.sh | sh
    creates: /usr/local/bin/ollama

- name: Pull qwen3:8b
  ansible.builtin.shell:
    cmd: ollama pull qwen3:8b

- name: Register npx path
  ansible.builtin.shell:
    cmd: whixh npx
  register: _which_npx

- name: Configure Copilot
  vars:
    github_token: "{{ lookup('ansible.builtin.env', 'GITHUB_TOKEN') }}"
    npx_path: "{{ _which_npx.stdout }}"
  ansible.builtin.template:
    src: copilot.service
    dest: "{{ ansible_env.HOME }}/.config/systemd/user/copilot.service"
    mode: "0644"

- name: Start Copilot
  ansible.builtin.systemd_service:
    name: copilot
    state: started
    enabled: true
    scope: user
